.header {
    background-color: rgb(50, 170, 170);
    height: 210px;
}
.header-logo{
    font-size: 40px;
    float: left;
    padding: 80px 40px;
}
.header-list li{
    list-style: none;
    float: left;
    padding: 80px 20px;
}
.main{
    background-color: yellow;
    height: 1000px;
}
.footer{
    background-color: rgb(117, 20, 207);
    height: 190px;
}